.work {
    display: flex;
    justify-content: center;
}


.work__overflow {
    position: relative;
}

.work__text {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    align-items: center;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: white;
    background: rgba(47, 48, 58, 0.8)
}




.work .work__item:not(:last-child) {
    margin-right: 30px;

}