.btn {
    display: inline-block;
    border: 0px;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--btn-color);

    &:hover,
    &:focus {
        background-color: var(--btn-hover);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    }
}