:root {

    --first-header-color: #212121;
    --second-header-color: #757575;
    --title-color: #212121;
    --text-color: #757575;
    --hero-title-color: #FFFFFF;
    --btn-color: #2196F3;
    --btn-text-color: #ffffff;
    --btn-secondary-color: #212121;
    --accent-color: #2196F3;
    --btn-hover: #188CE8;
    --first-bgc: #ffffff;
    --second-bgc: #F5F4FA;
    --hero-bgc: #2F303A;
    --footer-bgc: #2F303A;
    --addres-color: rgba(255, 255, 255, 0.6);
    --svg-color: #AFB1B8;
    --modal-placeholder: #212121;
    --accent-color-hover: #188CE8;
}